.Container {
    width: 800px;
    margin: 10px auto;
}

.FullPost {
    padding: 16px;
    text-align: center;
}

.HomeLink {
    color: saddlebrown;
    text-decoration: underline;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.Block {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
}

.Image {
    width: 80%;
}

.Body {
    text-align: justify;
}

.Date {
    margin: 16px 0;
    color: #ccc;
}
