.UserPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.UserInfo, .Links {
    width: 800px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    color: black;
    background-color: cornsilk;
}

.Links {
    color: saddlebrown;
    text-decoration: underline;
    font-weight: bold;
}
