.PostPreview {
    width: 800px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.PostPreview:hover,
.PostPreview:active {
    background-color: #C0DDF5;
}

.Image {
    width: 80%;
}

.Date {
    margin: 16px 0;
    color: #ccc;
}

.Link {
    text-decoration: none;
    color: black;
}